[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
requests = "*"
requests_oauthlib = "*"
pyyaml = "*"
pyhamcrest = "*"
furl = "*"

[requires]
python_version = "3.7"

[scripts]
app = "python -m clockwork_crock.app"
